@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  /* Primary */
  --cyan-moderate: hsl(176, 50%, 47%);
  --cyan-dark: hsl(176, 72%, 28%);
  /* Neutral */
  --black: hsl(0, 0%, 0%);
  --gray-light: rgb(245, 245, 245);
  --gray-dark: hsl(0, 0%, 48%);
  --gray-dark-50: hsla(0, 0%, 75%, 0.5);
  --gray-dark-25: hsla(0, 0%, 75%, 0.25);
  /* Typography */
  --ff: "Commissioner", sans-serif;
  --fs: 16px;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

html {
  scroll-behavior: smooth;
}

body,
.main-nav-company-logo,
section {
  box-sizing: border-box;
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  font-family: inherit;
  font-weight: var(--fw-medium);
  color: white;
  background-color: var(--cyan-moderate);
  transition: background-color 100ms ease-in;
}

button:not(.main-nav-button, .bookmark-this, .close-modal):hover {
  background-color: var(--cyan-dark);
}

p {
  color: var(--gray-dark);
}

.main-nav-links,
.mobile-nav-container,
.bookmark-text,
.modal,
.modal-content-pledge-container {
  display: none;
}

.main-nav-links {
  margin-left: auto;
  list-style: none;
}

.main-nav-links a {
  text-decoration: none;
  color: var(--gray-light);
}

body {
  position: relative;
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: var(--fw-regular);
  background-color: var(--gray-light);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 10rem;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  width: 90%;
}

.main-nav-button {
  display: block;
  margin-left: auto;
  background-color: transparent;
}

.mobile-nav-container.opened {
  height: 50vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mobile-nav {
  background-color: white;
  border-radius: 10px;
  width: 90%;
}

.mobile-nav a{
  font-size: 1.15rem;
  font-weight: var(--fw-medium);
  text-decoration: none;
  color: black;
}

.mobile-nav a div {
  padding: 1.5rem;
}

.mobile-nav a:not(:last-child) div {
  border-bottom: 1px var(--gray-dark-25) solid;
}

.background-container {
  background-image: url(images/image-hero-mobile.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  width: 100%;
  padding-top: 85.7%;
  /* (img-height / img-width * container-width) */
  /* (853 / 1280 * 100) */
  /* https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size */

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.background-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(hsla(0,0%,0%,75%), hsla(0,0%,0%,0%), hsla(0,0%,0%,0%));
  width: 100%;
  height: 100%;
  z-index: -1;
}

section {
  width: 90%;
  padding: 2rem 1.5rem;
  background-color: white;
  border: 1px solid var(--gray-dark-50);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

section > * {
  margin: 0;
}

.introduction-section,
.stats-section {
  text-align: center;
}

.introduction-section {
  margin-top: -6rem;
}

.introduction-section-product-logo {
  margin-top: -60px; /* half-height + parents padding */
}

.introduction-section-product-name {
  width: 80%;
  font-size: 1.25rem;
}

.introduction-section-product-description {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.introduction-section-buttons {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.introduction-section-buttons .back-this-project {
  height: 56px;
  width: 223.5px;
  border-radius: 28px;
  font-size: 1rem;
}

.introduction-section-buttons .bookmark-this-container {
  background-color: transparent;
  margin-left: auto;
  color: var(--gray-dark);
  padding-right: 0;
  height: 3.5rem;
  border-radius: 2rem;
  font-weight: var(--fw-medium);
}

.bookmark-this-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.bookmark-this {
  background-color: transparent;
  height: 100%;
}


.stats-section {
  gap: 0;
  padding: 2rem;
}

.stat-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stat {
  padding-bottom: 2rem;
}

.stat:not(:first-child) {
  padding-top: 2rem;
}

.stat > * {
  margin: 0;
  line-height: 1;
}

.stat h2{
  font-size: 2rem;
}

.stat p {
  margin-top: .75rem;
  font-size: .9rem;
  color: var(--gray-dark);
  width: auto;
}

.stats-section .progress {
  margin-top: 0;
  width: 100%;
  height: .75rem;
  background-color: var(--gray-light);
  border-radius: 10px;
}

.progress-bar {
  height: 100%;
  width: 80%;
  background-color: var(--cyan-moderate);
  border-radius: 10px;
}

.stat.total-backers {
  border-top: 1px solid var(--gray-dark-50);
  border-bottom: 1px solid var(--gray-dark-50)
}

.about-section {
  align-items: flex-start;
  gap: 1.5rem;
}

.about-section-card {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.about-section-header {
  font-size: 1.25rem;
}

.about-section-description {
  color: var(--gray-dark);
  font-size: .9rem;
  line-height: 1.4rem;
}

.about-section-card-headers {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.about-section-card-header {
  margin: 0;
  font-size: 1rem;
}

.subheader {
  color: var(--cyan-moderate);
  font-weight: var(--fw-medium);
}

.about-section-card-description {
  font-size: .9rem;
  line-height: 1.5rem;
  color: var(--gray-dark);
}

.about-section-card-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.about-section-card-count,
.modal-content-card-count {
  font-size: .9rem;
  color: var(--gray-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.about-section-card-count span,
.modal-content-card-count span{
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: black;
  line-height: 2rem;
}

.about-section-card-button {
  height: 3rem;
  width: 160px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled-section {
  opacity: 50%;
}

.disabled-button {
  cursor: not-allowed;
  background-color: var(--gray-dark);
}

.showing {
  display: block;
}

.showing-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  animation: fadeIn 100ms forwards ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}

.modal {
  background-color: rgba(0,0,0,0.5);
  transition: background-color 1s ease-in;
}

.modal-content {
  box-sizing: border-box;
  margin-top: 8rem;
  padding: 2rem 1.5rem;
  width: 90%;
  background-color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.modal-content-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-content-header h2 {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.modal-content-header .close-modal {
  margin-left: auto;
  background-color: transparent;
  width: 15px;
  height: 15px;
}

.modal-content-description {
  width: 100%;
}

.success .modal-content-description {
  text-align: center;
  margin: 0;
}

.modal-content-description,
.modal-content-card-description {
  font-size: .9rem;
  line-height: 1.5rem;
}

.modal-content-card-container {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0
}

.modal-content-card {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.selected-card {
  border: 2px solid var(--cyan-moderate);
}

.modal-content-card-headers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.modal-content-card-headers hgroup {
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.modal-content-card-headers hgroup > * {
  margin: 0;
}

.modal-content-card-headers .primary {
  cursor: pointer;
}

.primary:hover {
  color: var(--cyan-moderate);
}

.modal-content-card-select {
  height: 15px;
}

.modal-content-card-count {
  margin: 0;
}

.modal-content-card-count span {
  font-size: 1.25rem;
}

.modal-content-pledge-container {
  width: 100%;
}

.modal-content-pledge {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid var(--gray-dark);
  gap: 1rem;
}

.modal-content-pledge-header {
  margin: 0;
}

.modal-content-pledge > * {
  font-size: .9rem;
}

.pledge-form-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  width: 100%;
}

.pledge-form-container > * {
  font-size: .9rem;
}

.pledge-submit {
  height: 3rem;
  width: 7.5rem;
  border-radius: 3.75rem;
}

.pledge-input-container {
  border: 1px solid var(--gray-dark-50);
  border-radius: 50px;
  width: 80px;
  padding: .75rem;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pledge-input-container > *{
  font-size: inherit;
  font-weight: var(--fw-bold);
}

.pledge-input {
  font-family: var(--ff);
  width: 4ch;
  border-style: none;
  outline: none;
}

.pledge-input:disabled {
  background-color: transparent;
}

.pledge-input-container::before {
  content: "$";
  color: var(--gray-dark);
  font-weight: var(--fw-bold);
  opacity: 50%;
  margin-right: .25rem;
}

.success-button {
  font-size: .9rem;
  font-weight: var(--fw-medium);
  width: 6.5rem;
  height: 3rem;
  border-radius: 3.25rem;
}

@media screen and (min-width: 647px) {

  .background-container {
    background-image: url(images/image-hero-desktop.jpg);
    height: 0;
    width: 100%;
    padding-top: 27.8%;
  }

  .main-nav,
  section,
  .modal-content {
    width: 85%;
  }

  .main-nav-button {
    display: none;
  }

  .main-nav-links {
    display: flex;
    gap: 1rem;
  }

  .mobile-nav-container.opened {
    display: none;
  }

  .introduction-section-buttons .bookmark-this-container {
    background-color: var(--gray-dark-25);
    padding-right: 1.5rem;
  }

  .bookmark-text {
    display: block;
  }
  
  .introduction-section {
    margin-top: -2rem;
  }

  .stats-section{
    text-align: left;
  }

  .stat-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .stat {
    padding-bottom: 0;
    padding-right: 2rem;
  }

  .stat:not(:first-child) {
    padding-top: 0;
    padding-left: 2rem;
  }

  .stat.total-backers {
    border-top: none;
    border-bottom: none;
    
  }

  .stat.total-backers,
  .stat.days-left{
    border-left: 1px solid var(--gray-dark-50);
  }


  .stat p {
    width: 14ch;
  }

  .stats-section .progress {
    margin-top: 2rem;
  }

  .about-section-card-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .modal-content-pledge {
    flex-direction: row;
  }
  .modal-content-pledge > * {
    flex: 1;
  }

  .pledge-form-container {
    margin: 0 1rem;
    justify-content: flex-end;
  }

  .modal-content-pledge-header {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 888px) {
  .main-nav,
  section,
  .modal-content {
    width: 80%;
  }
  .introduction-section {
    margin-top: -3rem;
  }
}

@media screen and (min-width: 952px) {
  section,
  .modal-content {
    width: 65%;
  }
  .introduction-section {
    margin-top: -4rem;
  }
}

@media screen and (min-width: 1336px) {
  section,
  .modal-content {
    width: 50%;
  }
  .introduction-section {
    margin-top: -5rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
